@using Ecommerce.Model
@model IEnumerable<ProductM>
@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">

    function AddToCart(item) {
        var itemId = $(item).attr("productid");
        var formData = new FormData();
        formData.append("ProductId", itemId);
        //alert(itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Home/ShopAddCart',
            success: function(data) {
                if (data.Success) {
                    //alert(data);
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
                else {
                    //alert("error" + data + Response);
                    //alert("error" + result);
                }
            }
            ,
            error: function() {
                alert("There is a problem.");
            }

        });
    }

</script>

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1 rs1-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image:url('@Url.Content("assets/fe/images/Slid-03.jpg")');">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                Latest Aeroplane Models
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                New arrivals
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a asp-action="Shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Configure
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url('@Url.Content("~/assets/fe/images/Slid-02.jpg")');">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-202 cl2 respon2" style="color: #f0f0f0;">
                                Personalize your own business jets
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1" style="color: #f0f0f0;">
                                With all new configurator
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a asp-action="Shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Start Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url('@Url.Content("~/assets/fe/images/Slid-04.jpg")');">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-202 cl2 respon2" style="color: #000000;">
                                Create your personalized executive jet
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1" style="color: #f0f0f0; -webkit-text-stroke: 1px black;">
                                NEW EXPERIENCES
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a asp-action="Shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Configure
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url('@Url.Content("~/assets/fe/images/Slid-01.jpg")');">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-202 cl2 respon2" style="color: #AAFF00;">
                                Industry-leading technologies and performance
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1" style="color: #f0f0f0; -webkit-text-stroke: 1px black;">
                                You Imagine : We Build
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a asp-action="Shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*quote*@
<section class="quote-section">
    <div class="container">
        <div class="quote-box">
            <blockquote>
                <p>"The good thing about flying solo is it's never Boring"</p>
                <cite>— Raythos</cite>
            </blockquote>
        </div>
    </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0">
    <div class="flex-w flex-c-m">
        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="~/assets/fe/images/banner-1.jpg" alt="IMG-BANNER">

                <a asp-action="Shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            Heavy Private Jets
                        </span>

                        <span class="block1-info stext-102 trans-04">
                            2022
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            More
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="~/assets/fe/images/banner-2.jpg" alt="IMG-BANNER">

                <a asp-action="Shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            Commercial Aeroplanes
                        </span>

                        <span class="block1-info stext-102 trans-04">
                            2023
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="~/assets/fe/images/banner-3.jpg" alt="IMG-BANNER">

                <a asp-action="Shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            Light Private Jets
                        </span>

                        <span class="block1-info stext-102 trans-04">
                            2023
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
    <div class="container">
        <div class="p-b-32">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Store Overview
            </h3>
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Best Seller</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-50">
                <!-- - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">

                            @foreach (var item in Model)
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15 @item.category.CategoryName">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <img src="@Url.Content("~/ProductImg/"+ item.ProductPicUrl)" alt="IMG-PRODUCT">

                                            <input type="button" productid="@item.ProductId" id="btnAddToCart" value="ADD TO CART" onclick="AddToCart(this) "
                                               class="btn-addwish-b2 dis-block pos-relative js-addcart-detail block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" />
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">

                                                <a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-detail js-name-b2 p-b-6">
                                                    @Html.DisplayFor(model => item.ProductName)
                                                </a>
                                                <span class="stext-105 cl3">
                                                    Rs.@Html.DisplayFor(model => item.ProductPrice)

                                                </span>
                                            </div>

                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <div class="stext-104 dis-block pos-relative">
                                                    @if (@item.Quantity > 0)
                                                    {
                                                        <span style="color:DarkGreen!important;"> In Stock</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:darkred!important;">Out Of Stock</span>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<!-- Blog -->
<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Our Blogs
            </h3>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="https://www.businessinsider.com/elon-musk-private-jet-travel-2023-12">
                            <img src="~/assets/fe/images/blog-1.jpg" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl4">
                                    By
                                </span>

                                <span class="cl5">
                                    Grace Kay
                                </span>
                            </span>

                            <span>
                                <span class="cl4">
                                    on
                                </span>

                                <span class="cl5">
                                    December 17, 2023
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="https://www.businessinsider.com/elon-musk-private-jet-travel-2023-12" class="mtext-101 cl2 hov-cl1 trans-04">
                                Elon Musk's private jets took 441 flights this year
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            Musk has been splitting his time between Texas and California and his private jets have the mileage
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="https://www.therichest.com/inside-taylor-swift-private-jet-number-13/">
                            <img src="~/assets/fe/images/blog-2.jpg" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl4">
                                    By
                                </span>

                                <span class="cl5">
                                    VRUSHALI PADIA
                                </span>
                            </span>

                            <span>
                                <span class="cl4">
                                    on
                                </span>

                                <span class="cl5">
                                    November 17, 2017
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="https://www.therichest.com/inside-taylor-swift-private-jet-number-13/" class="mtext-101 cl2 hov-cl1 trans-04">
                                A Look Inside Taylor Swift’s 'Number 13' Private Jet
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            Her most talked about possession (apart from several luxurious estates), Taylor's "number 13" private jet is certainly among the most valuable she owns.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="https://www.sportsgoal.com.ng/conor-mcgregor-shows-off-stunning-private-jet-that-dominates-the-skies-as-he-says-taking-my-baby-for-some-sun/">
                            <img src="~/assets/fe/images/blog-3.jpg" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl4">
                                    By
                                </span>

                                <span class="cl5">
                                    SportsGoals
                                </span>
                            </span>

                            <span>
                                <span class="cl4">
                                    on
                                </span>

                                <span class="cl5">
                                    August 2, 2023
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="https://www.sportsgoal.com.ng/conor-mcgregor-shows-off-stunning-private-jet-that-dominates-the-skies-as-he-says-taking-my-baby-for-some-sun/" class="mtext-101 cl2 hov-cl1 trans-04">
                                Conor McGregor shows off stunning private jet
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            The UFC‘s poster boy has been soaring the skies in some of the world’s most luxurious aircraft since rising to global superstardom in 2013.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>